In [1]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

docs=['I really like to play football and watch football on TV. Football is my favourite sport',
      'My favourite TV serial is really awesome and I enjoy watching it',
      'I dont really want to talk about my favourite colour',
      'My favourite subject in school is computer science, because computer science is really awesome.'
     ]

In [2]:
cv = CountVectorizer(lowercase=True, analyzer='word', stop_words='english')
tf_idf = TfidfTransformer()
word_count_matrix = cv.fit_transform(docs)

tf_idf.fit(word_count_matrix) # Tfidf uses word counts matrix to compute the final score

df_idf = pd.DataFrame(tf_idf.idf_, index=cv.get_feature_names(), columns=['idf_scores'])
df_idf.sort_values(by=['idf_scores'])

           idf_scores
really       1.000000
favourite    1.000000
tv           1.510826
awesome      1.510826
enjoy        1.916291
computer     1.916291
football     1.916291
like         1.916291
play         1.916291
watch        1.916291
school       1.916291
science      1.916291
serial       1.916291
sport        1.916291
subject      1.916291
talk         1.916291
colour       1.916291
want         1.916291
dont         1.916291
watching     1.916291

In [3]:
tf_idf_matrix = tf_idf.transform(word_count_matrix).toarray()
first_doc_scores = tf_idf_matrix[0]

print(tf_idf_matrix)
print(first_doc_scores)

df_tf_idf = pd.DataFrame(first_doc_scores, index=cv.get_feature_names(), columns=['tf_idf_scores'])
df_tf_idf.sort_values(by=['tf_idf_scores'])

[[0.         0.         0.         0.         0.         0.13864731
  0.79706569 0.26568856 0.26568856 0.13864731 0.         0.
  0.         0.26568856 0.         0.         0.20947191 0.
  0.26568856 0.        ]
 [0.36031631 0.         0.         0.         0.45701556 0.23848968
  0.         0.         0.         0.23848968 0.         0.
  0.45701556 0.         0.         0.         0.36031631 0.
  0.         0.45701556]
 [0.         0.46908376 0.         0.46908376 0.         0.24478737
  0.         0.         0.         0.24478737 0.         0.
  0.         0.         0.         0.46908376 0.         0.46908376
  0.         0.        ]
 [0.23593896 0.         0.59851731 0.         0.         0.15616558
  0.         0.         0.         0.15616558 0.29925866 0.59851731
  0.         0.         0.29925866 0.         0.         0.
  0.         0.        ]]
[0.         0.         0.         0.         0.         0.13864731
 0.79706569 0.26568856 0.26568856 0.13864731 0.         0.
 0.         0.26568856 0.         0.         0.20947191 0.
 0.26568856 0.        ]

           tf_idf_scores
awesome         0.000000
want            0.000000
talk            0.000000
subject         0.000000
serial          0.000000
science         0.000000
school          0.000000
watching        0.000000
enjoy           0.000000
dont            0.000000
computer        0.000000
colour          0.000000
favourite       0.138647
really          0.138647
tv              0.209472
play            0.265689
watch           0.265689
sport           0.265689
like            0.265689
football        0.797066

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf_vectorizer = TfidfVectorizer(lowercase=True, stop_words='english')
tf_idf_vectorizer.fit(docs)
tfidf_matrix = tf_idf_vectorizer.transform(docs).toarray()

first_doc_scores1 = tf_idf_matrix[0]
print(first_doc_scores1)


df_tf_idf = pd.DataFrame(first_doc_scores1, index=tf_idf_vectorizer.get_feature_names(), columns=['tf_idf_scores'])
df_tf_idf.sort_values(by=['tf_idf_scores'])

[0.         0.         0.         0.         0.         0.13864731
 0.79706569 0.26568856 0.26568856 0.13864731 0.         0.
 0.         0.26568856 0.         0.         0.20947191 0.
 0.26568856 0.        ]

           tf_idf_scores
awesome         0.000000
want            0.000000
talk            0.000000
subject         0.000000
serial          0.000000
science         0.000000
school          0.000000
watching        0.000000
enjoy           0.000000
dont            0.000000
computer        0.000000
colour          0.000000
favourite       0.138647
really          0.138647
tv              0.209472
play            0.265689
watch           0.265689
sport           0.265689
like            0.265689
football        0.797066